html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
/*----------НАВИГАЦИЯ----------*/
.navigation {
  margin: 0;
  height: 40px;
  background-color: #2c3e50;
}
.one_navigation {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .one_navigation {
    width: 995px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .one_navigation {
    width: auto;
  }
}
@media (max-width: 600px) {
  .one_navigation {
    display: none;
  }
}
.user_tile {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}
@media (max-width: 768px) {
  .user_tile {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .user_tile {
    display: none;
  }
}
.user_tile .fa-user {
  font-size: 13px;
  padding-right: 7px;
}
@media (max-width: 768px) {
  .user_tile .fa-user {
    font-size: 10px;
    padding-right: 4px;
  }
}
.user_tile .fa-file {
  font-size: 13px;
  padding-right: 7px;
}
@media (max-width: 768px) {
  .user_tile .fa-file {
    font-size: 10px;
    padding-right: 4px;
  }
}
.cursor_p {
  cursor: pointer;
}
.hover_col {
  cursor: pointer;
}
.hover_col:hover {
  transition: 0.2s ease-in;
  border-bottom: 1px solid #1dd2af;
  text-decoration: none;
  padding-bottom: 2px;
}
.nav_one {
  padding-right: 15px;
}
@media (max-width: 768px) {
  .nav_one {
    padding-right: 10px;
  }
}
.bef1:before {
  content: '';
  position: absolute;
  height: 40px;
  margin-top: -12px;
  margin-left: 97px;
  border-left: 1px solid;
  color: #17202a;
}
@media (max-width: 768px) {
  .bef1:before {
    margin-left: 80px;
  }
}
.bef2:before {
  content: '';
  position: absolute;
  height: 40px;
  margin-top: -12px;
  margin-left: 121.5px;
  border-left: 1px solid;
  color: #17202a;
}
@media (max-width: 768px) {
  .bef2:before {
    margin-left: 102px;
  }
}
.bef3:before {
  content: '';
  position: absolute;
  height: 40px;
  margin-top: -12px;
  margin-left: 175px;
  border-left: 1px solid;
  color: #17202a;
}
@media (max-width: 768px) {
  .bef3:before {
    margin-left: 149px;
  }
}
.bef4:before {
  content: '';
  position: absolute;
  height: 40px;
  margin-top: -12px;
  margin-left: 195px;
  border-left: 1px solid;
  color: #17202a;
}
@media (max-width: 768px) {
  .bef4:before {
    margin-left: 168px;
  }
}
@media (max-width: 480px) {
  .bef4:before {
    display: none;
  }
}
.pad {
  padding-left: 15px;
}
@media (max-width: 768px) {
  .pad {
    padding-left: 10px;
  }
}
.nomber_navigation {
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
}
@media (max-width: 768px) {
  .nomber_navigation {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .nomber_navigation {
    margin-left: -7px;
    margin-top: 3px;
  }
}
.register_color {
  color: #1dd2af;
}
.social_icons {
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}
.social_icons .fa-instagram {
  font-size: 17px;
}
@media (max-width: 1024px) {
  .social_icons {
    margin-left: 110px;
  }
}
@media (max-width: 768px) {
  .social_icons {
    margin-left: 5px;
  }
}
.margfab {
  padding-left: 30px;
}
@media (max-width: 768px) {
  .margfab {
    padding-left: 22px;
  }
}
.margfab:hover {
  color: #1dd2af;
  transition: 0.2s ease-in;
}
.navigation {
  height: 133px;
}
.two_navigation {
  height: 94px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .two_navigation {
    height: 133px;
  }
}
.content_navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}
@media (max-width: 1024px) {
  .content_navigation {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.logo {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .logo {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .logo {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .logo {
    padding-top: 48px;
    padding-left: 30px;
  }
}
.text_nav {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #5d6e80;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .text_nav {
    font-size: 13px;
  }
}
.text_nav:hover {
  color: #1dd2af;
  transition: 0.2s ease-in;
  border-bottom: 1px solid #1dd2af;
  text-decoration: none;
  padding-bottom: 2px;
}
@media (max-width: 600px) {
  .text_nav:hover {
    border-bottom: 2px solid #1dd2af;
  }
}
@media (max-width: 768px) {
  .nav_search {
    margin-left: -10px;
  }
}
@media (max-width: 680px) {
  .nav_search {
    display: none;
  }
}
.fa-circle {
  font-size: 45px;
  padding-top: 23px;
  color: #2c3e50;
}
.fa-search {
  position: absolute;
  margin-top: -32px;
  margin-left: 13px;
  font-size: 20px;
  color: #2c3e50;
  cursor: pointer;
}
.fa-search:hover {
  color: #1dd2af;
  transition: 0.2s ease-in;
}
.icon_menu {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
.icon_menu span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.icon_button {
  display: none;
}
@media (max-width: 600px) {
  .icon_button {
    display: block;
    position: absolute;
    top: 37px;
    right: 40px;
    font-size: 50px;
    color: #2c3e50;
  }
}
.navigation_holder {
  margin-top: 23px;
  margin-left: 325px;
}
@media (max-width: 1950px) {
  .navigation_holder {
    margin-left: 283px;
  }
}
@media (max-width: 1450px) {
  .navigation_holder {
    margin-left: 280px;
  }
}
@media (max-width: 1024px) {
  .navigation_holder {
    margin-left: 170px;
  }
}
@media (max-width: 768px) {
  .navigation_holder {
    margin-left: 2px;
  }
}
@media (max-width: 600px) {
  .navigation_holder {
    display: none;
  }
}
@media (max-width: 600px) {
  .navigation_holder--mobile-open {
    position: absolute;
    flex-direction: column;
    margin-left: -38px;
    text-align: center;
    height: 139px;
  }
}
@media (max-width: 425px) {
  .navigation_holder--mobile-open {
    margin-left: -20px;
  }
}
@media (max-width: 375px) {
  .navigation_holder--mobile-open {
    margin-left: -35px;
  }
  .navigation_holder--mobile-open a {
    margin-left: 140px;
    margin-right: 0px;
  }
}
.navigation_list {
  display: flex;
  list-style-type: none;
}
@media (max-width: 600px) {
  .navigation_list {
    height: 100%;
    flex-direction: column;
    margin-left: -38px;
    margin-top: -32px;
    background-color: #ffffff;
  }
}
@media (max-width: 600px) {
  .active {
    display: none;
  }
}
@media (max-width: 600px) {
  .text_nav {
    margin-right: 147px;
    font-size: 28px;
    margin-left: 145px;
  }
}
@media (max-width: 600px) {
  li {
    margin-bottom: 6px;
  }
}
/*----------НАВИГАЦИЯ----------*/
/*----------HEADER----------*/
.center_header {
  height: 688px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .center_header {
    height: 500px;
  }
}
@media (max-width: 600px) {
  .center_header {
    height: 400px;
  }
}
.trabel {
  margin-top: 270px;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .trabel {
    margin-top: 150px;
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .trabel {
    margin-top: 100px;
    margin-right: 7px;
    font-size: 32px;
  }
}
.need {
  margin-top: 10px;
  margin-bottom: 40px;
  color: white;
  font-size: 25px;
}
@media (max-width: 768px) {
  .need {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 33px;
  }
}
.button_header {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .button_header {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .button_header {
    font-size: 14px;
  }
}
.button_one {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
  margin-right: 25px;
}
@media (max-width: 480px) {
  .button_one {
    padding: 10px;
  }
}
.button_one:hover,
.button_one:active {
  border: 2px solid #1dd2af;
  background-color: #1dd2af;
  transition: 0.2s ease-in;
  outline: none;
}
.button_two {
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
}
@media (max-width: 480px) {
  .button_two {
    padding: 10px;
  }
}
.button_two:hover,
.button_two:active {
  border: 2px solid #1dd2af;
  background-color: #1dd2af;
  transition: 0.2s ease-in;
  outline: none;
}
.slider.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  width: 80px;
  height: 80px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  margin-top: 310px;
}
@media (max-width: 768px) {
  .slider.owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    margin-top: 215px;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 480px) {
  .slider.owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    margin-top: 160px;
    height: 45px;
    width: 45px;
  }
}
.slider.owl-carousel .owl-nav .owl-prev {
  background-color: #e2e2e2;
  opacity: .2;
  background-image: url("../img/prev.png");
}
.slider.owl-carousel .owl-nav .owl-prev:hover {
  background-color: #1dd2af;
  opacity: 1;
  transition: 0.2s ease-in;
}
.slider.owl-carousel .owl-nav .owl-next {
  right: 0;
  background-color: #e2e2e2;
  opacity: .2;
  background-image: url("../img/next.png");
}
.slider.owl-carousel .owl-nav .owl-next:hover {
  background-color: #1dd2af;
  opacity: 1;
  transition: 0.2s ease-in;
}
/*----------HEADER----------*/
/*----------NAVIGATION 3----------*/
.navigation_holydays {
  height: 105px;
  background-color: #2c3e50;
}
.three_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 180px;
  margin-right: 180px;
}
@media (max-width: 1024px) {
  .three_navigation {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 480px) {
  .three_navigation {
    margin-left: -5px;
  }
}
.your {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .your {
    margin-left: 5px;
  }
}
@media (max-width: 480px) {
  .your {
    display: none;
  }
}
.your:before {
  content: '';
  background-image: url("../img/shape.png");
  height: 104px;
  width: 8px;
  position: absolute;
  margin-left: 165px;
}
@media (max-width: 768px) {
  .your:before {
    margin-top: -7px;
    margin-left: 125px;
  }
}
@media (max-width: 480px) {
  .your:before {
    display: none;
  }
}
.find_your {
  padding: 0;
  padding-top: 25px;
  color: #9fb0c0;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .find_your {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .find_your {
    display: none;
  }
}
.bold_holy {
  padding: 0;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .bold_holy {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .bold_holy {
    display: none;
  }
}
.three_text {
  padding-top: 39px;
  margin-left: 85px;
  font-size: 22px;
  font-weight: 300;
  color: #9fb0c0;
}
@media (max-width: 768px) {
  .three_text {
    margin-left: 40px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .three_text {
    display: none;
  }
}
.three_text_when {
  margin-left: 22px;
  font-size: 22px;
  font-weight: 300;
  padding-top: 39px;
  color: #9fb0c0;
}
@media (max-width: 768px) {
  .three_text_when {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .three_text_when {
    display: none;
  }
}
.booking-checkin {
  margin-left: 22px;
  margin-top: 27px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #8a8a8a;
  outline: none;
  border: none;
}
@media (max-width: 1024px) {
  .booking-checkin {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .booking-checkin {
    font-size: 14px;
    width: 80px;
    margin-top: 33px;
  }
}
@media (max-width: 480px) {
  .booking-checkin {
    width: 70px;
    margin-right: -5px;
  }
}
.booking-checkin:focus {
  background-color: #c8d2d2;
  outline: none;
}
@media (max-width: 480px) {
  .adap_480 {
    margin-left: 10px;
  }
}
.fa-globe {
  position: absolute;
  font-size: 22px;
  margin-left: 295px;
  margin-top: -38px;
  color: #8a8a8a;
}
@media (max-width: 1440px) {
  .fa-globe {
    margin-left: 277px;
  }
}
@media (max-width: 1024px) {
  .fa-globe {
    margin-left: 197px;
    margin-top: -33px;
  }
}
@media (max-width: 768px) {
  .fa-globe {
    font-size: 20px;
    margin-left: 133px;
    margin-top: -29px;
  }
}
@media (max-width: 480px) {
  .fa-globe {
    margin-left: 123px;
  }
}
.fa-calendar-alt {
  position: absolute;
  font-size: 22px;
  margin-left: 295px;
  margin-top: -40px;
  color: #8a8a8a;
}
@media (max-width: 1440px) {
  .fa-calendar-alt {
    margin-left: 277px;
  }
}
@media (max-width: 1024px) {
  .fa-calendar-alt {
    margin-left: 197px;
    margin-top: -33px;
  }
}
@media (max-width: 768px) {
  .fa-calendar-alt {
    font-size: 20px;
    margin-left: 133px;
    margin-top: -29px;
  }
}
@media (max-width: 480px) {
  .fa-calendar-alt {
    margin-left: 115px;
  }
}
.btn_t {
  margin-top: 43px;
}
@media (max-width: 768px) {
  .btn_t {
    margin-top: 38px;
  }
}
.button_tree {
  padding: 16px 20px;
  background-color: #1dd2af;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 25px;
}
@media (max-width: 1024px) {
  .button_tree {
    padding-top: 13px;
    padding-bottom: 7px;
  }
}
@media (max-width: 768px) {
  .button_tree {
    padding-top: 5px;
  }
}
@media (max-width: 480px) {
  .button_tree {
    margin-left: 10px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.button_tree:hover,
.button_tree:active {
  outline: none;
}
/*----------NAVIGATION 3----------*/
/*----------SPECIAL OFFERS----------*/
.special_offers {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.sp_of {
  margin-top: 80px;
  color: #2c3e50;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.love_to {
  margin-top: 10px;
  color: #626262;
  font-size: 16px;
}
.container_offers {
  border: 5px solid #eeeeee;
  border-radius: 6px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  margin-top: 90px;
  margin-bottom: 140px;
}
@media (max-width: 1960px) {
  .container_offers {
    width: 260px;
  }
}
@media (max-width: 1400px) {
  .container_offers {
    width: 245px;
  }
}
@media (max-width: 1024px) {
  .container_offers {
    width: 180px;
  }
}
@media (max-width: 768px) {
  .container_offers {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .container_offers {
    cursor: pointer;
    overflow: hidden;
    border: 5px solid #1dd2af;
    width: 260px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c3e50;
  }
}
@media (max-width: 375px) {
  .container_offers {
    width: 230px;
  }
}
.photo_setting {
  overflow: hidden;
  height: 140px;
}
@media (max-width: 1960px) {
  .photo_setting {
    height: 190px;
  }
}
@media (max-width: 1400px) {
  .photo_setting {
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .photo_setting {
    height: 130px;
  }
}
@media (max-width: 768px) {
  .photo_setting {
    height: 160px;
  }
}
@media (max-width: 480px) {
  .photo_setting {
    height: 220px;
  }
}
@media (max-width: 375px) {
  .photo_setting {
    height: 180px;
  }
}
.text_container {
  background-color: #eeeeee;
  color: #626262;
  padding-top: 5px;
  padding-left: 13px;
  padding-bottom: 13px;
}
@media (max-width: 1400px) {
  .text_container {
    padding-bottom: 5px;
  }
}
@media (max-width: 1024px) {
  .text_container {
    padding-bottom: 7px;
  }
}
@media (max-width: 768px) {
  .text_container {
    padding-left: 5px;
  }
}
@media (max-width: 480px) {
  .text_container {
    background-color: #2c3e50;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.statue {
  font-size: 15px;
}
@media (max-width: 1960px) {
  .statue {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .statue {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .statue {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .statue {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }
}
.dest {
  font-size: 13px;
}
@media (max-width: 1960px) {
  .dest {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .dest {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .dest {
    font-size: 15px;
    color: #8899a8;
  }
}
.fa-chevron-down {
  color: #2c3e50;
  position: absolute;
  padding-left: 225px;
  margin-top: -23px;
}
@media (max-width: 1400px) {
  .fa-chevron-down {
    padding-left: 200px;
  }
}
@media (max-width: 1024px) {
  .fa-chevron-down {
    display: none;
  }
}
@media (max-width: 480px) {
  .row_offers.owl-carousel .owl-nav .owl-next,
  .row_offers.owl-carousel .owl-nav .owl-prev {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    margin-top: 155px;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 480px) {
  .row_offers.owl-carousel .owl-nav .owl-prev {
    background-color: #1dd2af;
    opacity: .3;
    background-image: url("../img/prev.png");
  }
  .row_offers.owl-carousel .owl-nav .owl-prev:hover {
    background-color: #1dd2af;
    opacity: 1;
    transition: 0.2s ease-in;
  }
}
@media (max-width: 480px) {
  .row_offers.owl-carousel .owl-nav .owl-next {
    right: 0;
    background-color: #1dd2af;
    opacity: .3;
    background-image: url("../img/next.png");
  }
  .row_offers.owl-carousel .owl-nav .owl-next:hover {
    background-color: #1dd2af;
    opacity: 1;
    transition: 0.2s ease-in;
  }
}
@media (max-width: 480px) {
  .row_offers .owl-item {
    opacity: 1;
  }
}
.row_offers .owl-item.center {
  opacity: 1;
}
.row_offers .owl-item.center .container_offers {
  cursor: pointer;
  overflow: hidden;
  transform: scale(1.07);
  transition: 0.2s ease-in;
  border: 5px solid #1dd2af;
  background-color: #2c3e50;
}
@media (max-width: 768px) {
  .row_offers .owl-item.center .container_offers {
    border: 3px solid #1dd2af;
  }
}
.row_offers .owl-item.center .container_offers .text_container {
  background-color: #2c3e50;
}
.row_offers .owl-item.center .container_offers .statue {
  color: #ffffff;
  padding-top: 8px;
}
.row_offers .owl-item.center .container_offers .dest {
  color: #8899a8;
  padding-bottom: 8px;
}
.row_offers .owl-item.center .container_offers .fa-chevron-down {
  color: #ffffff;
  margin-top: -30px;
}
/*----------SPECIAL OFFERS----------*/
/*----------HOLIDAYS TYPE----------*/
.hol_img {
  height: 516px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .hol_img {
    height: 400px;
  }
}
.color_white {
  color: #ffffff;
}
.color_dr {
  color: #9eafc0;
}
.icon_container {
  text-align: center;
  margin-right: 19px;
  margin-left: 19px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .icon_container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.icon_container:hover .circle_cs {
  border: 5px solid #1dd2af;
}
.icon_container:hover .all_setting {
  color: #1dd2af;
}
.icon_container:hover .small {
  color: #1dd2af;
}
.icon_container:hover .bg3_text {
  color: #1dd2af;
}
.icons_holidays {
  display: flex;
  flex-direction: row;
}
@media (max-width: 480px) {
  .not_display {
    display: none;
  }
}
.circle_cs {
  margin-top: 67px;
  display: block;
  width: 150px;
  height: 150px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .circle_cs {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .circle_cs {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 480px) {
  .circle_cs {
    width: 50px;
    height: 50px;
  }
}
.circle_cs .all_setting {
  color: #ffffff;
  font-size: 70px;
  padding-top: 37px;
}
@media (max-width: 1024px) {
  .circle_cs .all_setting {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .circle_cs .all_setting {
    font-size: 43px;
    padding-top: 19px;
  }
}
@media (max-width: 480px) {
  .circle_cs .all_setting {
    font-size: 30px;
    padding-top: 10px;
  }
}
.circle_cs .small {
  color: #ffffff;
  font-size: 45px;
}
@media (max-width: 1024px) {
  .circle_cs .small {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .circle_cs .small {
    display: none;
  }
}
.bg3_text {
  color: #9dafc0;
  font-size: 20px;
  font-weight: 500;
  padding-top: 14px;
}
@media (max-width: 1024px) {
  .bg3_text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .bg3_text {
    font-size: 15px;
  }
}
/*----------HOLIDAYS TYPE----------*/
/*----------COMMENTS----------*/
.comments {
  width: 471px;
  height: 145px;
  border: 1px solid #e8e8e8;
  margin-top: 50px;
  margin-bottom: 145px;
  margin-left: 7px;
  margin-right: 7px;
}
@media (max-width: 1400px) {
  .comments {
    height: 135px;
    width: 460px;
  }
}
@media (max-width: 1024px) {
  .comments {
    width: 350px;
    height: 170px;
  }
}
@media (max-width: 768px) {
  .comments {
    width: 275px;
    height: 210px;
    margin-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .comments {
    width: 265px;
    border-top: 4px solid #1dd2af;
    margin-right: auto;
    margin-left: auto;
  }
}
.look_text {
  padding-left: 27px;
  padding-top: 18px;
  padding-right: 27px;
  color: #626262;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.look_color {
  padding-left: 27px;
  padding-top: 4px;
  font-size: 18px;
  color: #1dd2af;
  font-weight: 500;
}
@media (max-width: 480px) {
  .love_coments {
    font-size: 14px;
  }
}
.state {
  padding-left: 27px;
  color: #b2b2b2;
  font-size: 13px;
}
.happy_clients .owl-item {
  opacity: 0.3;
}
@media (max-width: 480px) {
  .happy_clients .owl-item {
    opacity: 1;
  }
}
.happy_clients .owl-item.center {
  opacity: 1;
}
.happy_clients .owl-item.center .comments {
  cursor: pointer;
  position: absolute;
  border-top: 4px solid #1dd2af;
  background-color: #ffffff;
}
@media (max-width: 480px) {
  .happy_clients .owl-item.center .comments {
    transform: scale(1.05) translateY(-5px) translateX(-75px);
  }
}
@media (max-width: 430px) {
  .happy_clients .owl-item.center .comments {
    transform: scale(1.05) translateY(-5px) translateX(-66px);
  }
}
@media (max-width: 380px) {
  .happy_clients .owl-item.center .comments {
    transform: scale(1.05) translateY(-5px) translateX(-75px);
  }
}
@media (max-width: 480px) {
  .happy_clients.owl-carousel .owl-nav .owl-next,
  .happy_clients.owl-carousel .owl-nav .owl-prev {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    margin-top: 125px;
    height: 48px;
    width: 48px;
  }
}
@media (max-width: 430px) {
  .happy_clients.owl-carousel .owl-nav .owl-next,
  .happy_clients.owl-carousel .owl-nav .owl-prev {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 380px) {
  .happy_clients.owl-carousel .owl-nav .owl-next,
  .happy_clients.owl-carousel .owl-nav .owl-prev {
    height: 48px;
    width: 48px;
  }
}
@media (max-width: 480px) {
  .happy_clients.owl-carousel .owl-nav .owl-prev {
    background-color: #1dd2af;
    opacity: .3;
    background-image: url("../img/prev.png");
  }
  .happy_clients.owl-carousel .owl-nav .owl-prev:hover {
    background-color: #1dd2af;
    opacity: 1;
    transition: 0.2s ease-in;
  }
}
@media (max-width: 480px) {
  .happy_clients.owl-carousel .owl-nav .owl-next {
    right: 0;
    background-color: #1dd2af;
    opacity: .3;
    background-image: url("../img/next.png");
  }
  .happy_clients.owl-carousel .owl-nav .owl-next:hover {
    background-color: #1dd2af;
    opacity: 1;
    transition: 0.2s ease-in;
  }
}
/*----------COMMENTS----------*/
/*----------FOOTER----------*/
.footer_color {
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #394c5f;
}
.news_column {
  width: 220px;
}
@media (max-width: 480px) {
  .news_column {
    margin-bottom: 60px;
  }
}
.footer_display {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer_display {
    width: 950px;
  }
}
@media (max-width: 768px) {
  .footer_display {
    width: 740px;
  }
}
@media (max-width: 490px) {
  .footer_display {
    flex-direction: column;
    margin-left: 80px;
  }
}
@media (max-width: 430px) {
  .footer_display {
    margin-left: 120px;
  }
}
@media (max-width: 380px) {
  .footer_display {
    margin-left: 85px;
  }
}
.title {
  color: #1dd2af;
  font-size: 25px;
  font-weight: bold;
}
.small_text {
  padding-top: 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.8;
}
.input_footer {
  margin-top: 14px;
  border: none;
  border-radius: 3px;
  color: #626262;
  font-size: 13px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 148px;
  outline: none;
}
.input_footer:focus {
  background-color: #94ced2;
}
.button_go {
  text-decoration: none;
  color: white;
  background-color: #1dd2af;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  padding: 4px 10px 6px 10px;
}
.button_go:hover {
  transition: 0.2s;
  color: #1dd2af;
  background-color: #ffffff;
  font-weight: bold;
}
.two_foot {
  margin-left: 35px;
}
.two_foot:before {
  content: '';
  background-image: url("../img/fot_img1.png");
  position: absolute;
  border: 1px solid #ffffff;
  height: 23px;
  width: 25px;
  margin-left: -35px;
  margin-top: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.comments_fot {
  margin-left: 35px;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #1dd2af;
}
.two_foot2 {
  margin-top: 20px;
  margin-left: 35px;
}
.two_foot2:before {
  content: '';
  background-image: url("../img/foot_img2.png");
  border: 1px solid #ffffff;
  position: absolute;
  height: 23px;
  width: 25px;
  margin-left: -35px;
  margin-top: 7px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.E_mail {
  color: #1dd2af;
}
.icons_footer {
  display: flex;
}
@media (max-width: 480px) {
  .icons_footer {
    justify-content: space-between;
  }
}
.mar_ic {
  cursor: pointer;
  margin-top: 15px;
  margin-right: 25px;
  font-size: 25px;
  color: #ffffff;
}
.mar_ic:hover {
  transition: 0.2s;
  color: #1dd2af;
}
.two {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
}
.marg_foot2 {
  margin-top: 25px;
  font-size: 15px;
}
.copyright {
  margin-top: 11px;
  margin-bottom: 37px;
  font-size: 13px;
  color: #9dafc0;
}
/*----------FOOTER----------*/
